@using DataModel.PetHotelORM
@model ICollection<vEmployeeList>

<section>

    <h1>Employee list</h1>
    <hr />

    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>Employee name</th>
                <th>Initials</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>

            @foreach (vEmployeeList emp in Model.ToArray<vEmployeeList>())
            {
                <tr>
                    <td>@emp.name</td>
                    <td>@emp.initials</td>
                    <td>@emp.email</td>
                    <td>@emp.phone</td>
                </tr>

            }

        </tbody>
    </table>
</section>