<section class="container__content menu-list">
    <ul>
        <li class="menu-item">@Html.ActionLink("Reservations", "ReservationList")</li>
        <li class="menu-item">@Html.ActionLink("Invoices", "InvoiceList")</li>
        <li class="menu-item">@Html.ActionLink("Employees", "EmployeeList")</li>
    </ul>
</section>
